.blueback {background:#5bc0de; display: block; height:100%;}
.no-pad {margin:0 !important;
    padding: 0px !important;}
.bigger-block{display: block; width: 200px; text-align: center;}
  
.regular-box {
    min-height: 50px;
    padding: 5px;
    margin: 5px;
    color: #4E5D6C;
  }
.active-link{
    border: 5px solid #f0ad4e;
  }